<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<header>
    <h1>Product Details</h1>
</header>

<div class="product-details">
    <img src="/static/img/product-image.jpg" alt="Product Image" class="product-image">
    <div class="product-info">
        <h2>Product Name</h2>
        <p>Price: $19.99</p>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <!-- Add more product details here -->
    </div>
</div>

<a href="/shop">Back to Shop</a>

<script src="/static/js/script.js"></script>
</body>
</html>